.hero-text .desktop-text-holder {
  animation: fadeEffect 1.5s;
}

.specifications-desktop-left {
  animation: fadeEffect 2.5s;
}

@keyframes fadeEffect {
  /* from 0 to full opacity */
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
