.footer-div {
  display: flex;
  align-items: row;
  justify-content: space-evenly;
  margin: 40px;
  padding: 20px;
  letter-spacing: 1px;
}

.footer-section {
  padding: 10px;
}

.footer-section h3 {
  font-size: 25px;
  padding: 10px;
  padding-left: 0;
}

.footer-section p {
  padding: 5px;
  padding-left: 0;
}

.footer-section input {
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  width: 300px;
}
