@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--color-almost-black);
  top: 0;
  position: sticky;
  z-index: 1;
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

li {
  list-style: none;
}

a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--nav-link-size);
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.5s ease-out;
}

.logo-image #element {
  transition: 0.5s ease-out;
}

.nav-link:hover {
  color: var(--color-almost-green);
}

/* .logo-image #element-01 {
  fill: rgb(61, 219, 166);
} */

.nav-branding .logo-image:hover #element {
  fill: var(--color-almost-green);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: var(--color-white);
}

@media (max-width: 768px) {
  .shoe-logo {
    width: 130px;
    height: 40;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-almost-black);
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
