@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--color-black);
  top: 0;
  position: sticky;
  z-index: 1;
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

li {
  list-style: none;
}

a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--nav-link-size);
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.5s ease-out;
}

.logo-image #element {
  transition: 0.5s ease-out;
}

.nav-link:hover {
  color: var(--color-almost-green);
}

.nav-btn {
  border-style: solid;
  border-color: var(--color-white);
  padding: 9px;
  border-radius: 10px;
}

.nav-btn:hover {
  padding: 9px;
  border-style: solid;
  border-color: var(--color-almost-green);
  border-radius: 10px;
}

/* .logo-image #element-01 {
  fill: rgb(61, 219, 166);
} */

.nav-branding .logo-image:hover #element {
  fill: var(--color-almost-green);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: var(--color-white);
}

.social-media-icons {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 70px;
    flex-direction: column;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    justify-content: unset;
    transition: 0.5s;
    gap: 24px;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-item:first-child {
    margin-top: 80px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu .social-media-icons {
    display: inline-flex;
    offset-distance: 70px;
    /* display: unset; */
    /* justify-content: space-evenly; */
    /* padding: 20rem; */
    /* margin-top: 50px; */
  }

  .social-media-icons img {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-end; */
    /* padding: 20rem; */
    margin-top: 210px;
    padding: 2rem;
  }

  img .facebook {
    margin-left: 8px;
  }
}
