body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-black);
}

.hero-image {
  max-width: 100vw;
  position: relative;
  text-align: center;
}

.hero-image img {
  width: 100%;
  max-width: 100%;
}

.hero-heading {
  position: absolute;
  top: 10px;
  left: 50px;
}

.hero-heading {
  text-align: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
}

.hero-text .desktop-text {
  margin-top: 40px;
  color: white;
  text-align: left;
  font-size: 70px;
}

.hero-text .mobile-text {
  display: none;
}

.hero-text button {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 70px;
  width: 160px;
  height: 40px;
  background-color: #2b2b2b00;
  color: white;
  border-radius: 10px;
  border: solid var(--color-almost-green);
  font-size: 17px;
  cursor: pointer;
  padding-left: 10px;
}

.hero-text button .arrow {
  font-size: 1.5rem;
}

.hero-text button:hover {
  background-color: var(--color-almost-green);
}

.hero-text button:hover {
  transition: 0.5s ease-in;
}

/* .hero-text button:hover .arrow {
  color: var(--color-almost-green);
} */

/* ---Products css--- */

.products {
  width: 1440px;
  height: 764px;
  background-color: rgb(219, 154, 154);
}

/* .products .products-text {
  display: none;
} */

.products .products-mobile-view {
  display: none;
}

/* ---specifications css--- */

.specifications {
  background-color: var(--color-black);
  width: 1440px;
  height: 764px;
}

.order {
  background-color: rgb(156, 124, 185);
  width: 1440px;
  height: 764px;
}

.merch {
  background-color: var(--color-black);
  width: 1440vw;
  height: 764px;
  margin: 0 auto;
  display: flex;
}

.merchwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

.card {
  display: flex;
  background-color: var(--color-almost-black);
  height: 481px;
  min-width: 300px;
  width: 362px;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.merch .card img {
  width: 330px;
  height: 330px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.merch button {
  align-items: center;
  display: flex;
  width: 330px;
  height: 40px;
  background-color: var(--color-light-grey);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  justify-content: center;
}

.merch h3 {
  margin-bottom: 20px;
  font-size: 27px;
  color: var(--color-white);
}

.merch button .arrow {
  font-size: 1.5rem;
}

.merch button:hover {
  background-color: var(--color-grey);
}

.merch button:hover {
  transition: 0.5s ease-in;
}
.merch button::after {
  background-color: var(--color-almost-green);
}

.merch button:hover .arrow {
  color: var(--color-almost-green);
}

@media (max-width: 768px) {
  .hero-image {
    max-height: 753px;
  }

  .hero-text .mobile-text {
    display: unset;
    margin-top: 40px;
    text-align: left;
    /* font-size: 32px; */
    max-width: 180px;
    font-size: var(--hero-text-mobile);
  }

  .hero-text .desktop-text {
    display: none;
  }

  /* ---products css--- */

  .products {
    width: 414px;
    height: 1250px;
    padding: 0px;
    background-color: var(--color-almost-black);
  }

  .products .products-mobile-view {
    display: inherit;
  }

  .products .products-text {
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    color: var(--color-white);
  }

  .products-text h2 {
    font-size: var(--hero-text-mobile);
    padding-top: 30px;
  }

  .products-text p {
    padding-top: 10px;
    font-size: var(--nav-link-size);
    color: var(--color-almost-green);
  }

  .products .range {
    width: 380px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    color: var(--color-white);
  }

  .range h2 {
    height: 200px;
    text-align: center;
    font-size: var(--large);
    color: var(--color-almost-green);
  }

  .range h3 {
    font-size: var(--product-text-mobile);
  }

  .range h3,
  .range p {
    margin-left: 25px;
    padding-bottom: 15px;
  }

  /* ---specifications css--- */

  .specifications {
    width: 414px;
    height: 1030px;
  }

  .specifications h3 {
    text-align: left;
    width: 360px;
    height: 150px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--product-text-mobile);
    background-color: none;
    color: var(--color-white);
  }

  .specifications-text {
    width: 360px;
    height: 400px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-white);
  }

  .specifications-text p {
    padding-top: 20px;
  }

  .specifications-text h4 {
    padding: 0px;
    height: 180px;
    text-align: center;
    font-size: var(--large);
    color: var(--color-almost-green);
    background-color: none;
  }

  .button-holder {
    width: 360px;
    height: 62px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
  }

  .specifications-text button {
    width: 360px;
    height: 40px;
    background-color: #2b2b2b00;
    color: white;
    border-radius: 10px;
    border: solid var(--color-almost-green);
    font-size: 17px;
    cursor: pointer;
    padding-left: 10px;
  }
  /* ---Section css--- */
  .order {
    width: 414px;
    height: 500px;
    background-color: var(--color-almost-black);
  }

  .order h4 {
    text-align: left;
    width: 360px;
    height: 180px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--product-text-mobile);
    background-color: none;
    color: var(--color-white);
  }

  .order p {
    text-align: left;
    width: 360px;
    height: 110px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--product-text-mobile);
    background-color: none;
    color: var(--color-white);
    font-size: var(--nav-link-size);
  }

  .order .email-holder {
    width: 360px;
    height: 70px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--product-text-mobile);
    background-color: none;
    color: var(--color-white);
    font-size: var(--nav-link-size);
  }

  .order input {
    width: 360px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: #8f8f8f;
    color: var(--color-white);
  }

  ::placeholder {
    color: var(--color-white);
    font-size: 1.2em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17' viewBox='0 0 20 17' fill='white' fill-rule='evenodd'%3E%3Cpath d='M18 0.5H2C0.9 0.5 0.00999999 1.4 0.00999999 2.5L0 14.5C0 15.6 0.9 16.5 2 16.5H18C19.1 16.5 20 15.6 20 14.5V2.5C20 1.4 19.1 0.5 18 0.5ZM18 14.5H2V4.5L10 9.5L18 4.5V14.5ZM10 7.5L2 2.5H18L10 7.5Z'%3E%3C/path%3E%3C/svg%3E")
      right / contain no-repeat;
  }

  .button-notify {
    width: 360px;
    height: 62px;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
  }

  .button-notify button {
    width: 160px;
    height: 40px;
    background-color: #2b2b2b00;
    color: white;
    border-radius: 10px;
    border: solid var(--color-white);
    font-size: 17px;
    cursor: pointer;
    padding-left: 10px;
  }

  /* ---Merch css--- */
  .merch {
    width: 414px;
    height: 2060px;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
  }

  .merchwrap {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }
  .merchnames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .merchnames button {
    width: 300px;
    height: 43px;
  }
}
